<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/aboutstyle.css">	
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
</head>
<body>
	<section class="intro">
		<div class="inner">
			<div class="content">
				<span>Name:<span class="s1">{{abt['Name']}}</span></span><br>
				<span>Username:<span class="s1">{{abt['Username:']}}</span></span><br>
				<span>Student/Professional:<span class="s1">{{abt['Student/Professional:']}}</span></span><br>
				<span>Institution:<span class="s1">{{abt['Institution:']}}</span></span><br>
				<span>City:<span class="s1">{{abt['City:']}}</span></span><br>
				<span>State:<span class="s1">{{abt['State:']}}</span></span><br>				
				<span>Country:<span class="s1">{{abt['Country:']}}</span></span><br>
				<span>Country Rank:<span class="s1">{{abt['Country Rank:']}}</span></span><br>
				<span>Global Rank:<span class="s1">{{abt['Global Rank:']}}</span></span><br>
				<a href="{{url_for('home')}}" id="a1">Home</a>
				<a href="{{url_for('logout')}}" id="a2">Logout</a>
			</div>
		</div>
	</section>
</body>
</html>