<!DOCTYPE html>
<html>
<head>
	<title>Invalid URL</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/badtokenstyle.css">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
</head>
<body>
	<section class="intro">
		<div class="inner">
			<div class="content">
				<span>Please check the URL again!</span><br>
				<a href="{{url_for('login')}}" id="a1">Login</a>
				<a href="{{url_for('startpage')}}" id="a2">Home</a>
				<a href="{{url_for('register')}}" id="a3">Register</a>
			</div>
		</div>
	</section>
</body>
</html>