<!DOCTYPE html>
<html>
<head>
	<title>Contact Us</title>
		<link rel="stylesheet" type="text/css" href="../static/styles/contacts.css">
		<link href="https://fonts.googleapis.com/css?family=Kavoon" rel="stylesheet">
</head>
<body>
	<div id="s">
		<p>For reporting any issues or giving feedback please drop a mail at <h4>"rish.gupta34@gmail.com"</h4>.<br>The developer will contact you as soon as possible.</p><br>
		<a href="{{url_for('home')}}">Home</a>
		<a href="{{url_for('logout')}}">Logout</a>
	</div>
</body>
</html>