<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/homestyle.css">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
</head>
<body>
	<section class="intro">
		<div class="inner"><!-- align="center" -->
			<div class="content" >
				<h2>Welcome {{name}}!!</h2>
				<a href="{{url_for('about')}}" id="a1">About</a><br>
				<a href="{{url_for('solved')}}" id="a2">Solved</a><br>
				<a href="{{url_for('rating')}}" id="a3">Rating</a><br>		
				<a href="{{url_for('logout')}}" id="a4">Logout</a><br>
				<a href="{{url_for('contact')}}" id="a5">Contact Us!</a><br>
			</div>
		</div>
	</section>
</body>
</html>