<!DOCTYPE html>
<html>
<head>
	<title>Rating</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/ratingstyle.css">
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">

</head>
<body>

	<section class="intro">
		<div class="inner"><!-- align="center" -->
			<div class="content" >

	<div align="left">
		<a href="{{url_for('home')}}" id="a3">Home</a>
	</div>
	<div align="right">
		<a href="{{url_for('logout')}}" id="a4">Logout</a>
	</div>
	<h2>Your ratings!</h2>
	<div class="tablecontent" align="center">
		<table border=1>
			<tbody>
				<tr>
					<th>Rating</th>
					<th>Challenge</th>
					<th>Global Rating</th>
				</tr>
				{% for row in user_rating %}
					<tr>
						{% for column in row %}
							<td>
								{{column}}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	</div>
		</div>
	</section>
</body>
</html>