<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form action="register" method="POST">
		<label>Name:</label>
		<input id="Name" name="regname"><br>
		<label>Email:</label>
		<input id="Email" name="regemail"><br>
		<label>Password:</label>
		<input id="Password" name="regpass" type="password"><br>
		<label>Confirm Password:</label>
		<input id="CPassword" name="regcpass" type="password"><br>
		<label>CodeChef Usename:</label>
		<input id="cuser" name="cusername"><br>
		<button type="SUBMIT">Register</button><br>
		{% if error %}
      	<p><strong>Error:</strong> {{ error }}
      	{% endif %}
	</form>
	<a href="{{url_for('login')}}">Already registered?Login Here!</a>
</body>
</html>	