<!DOCTYPE html>
<html>
<head>
	<title>Questions Solved</title>
	<link rel="stylesheet" type="text/css" href="../static/styles/solvedstyle.css">	
	<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
</head>
<body>
	<section class="intro">
		<div class="inner">
			<div class="content">
				{% for i in range(2) %}
					<span class="s1">{{headings[i]}}</span><br>
					{% for j in range(head_text[i]|length) %}
						<span class="s2">{{head_text[i][j]}}</span><br>
						{% for k in range(all_text[i][j]|length) %}
							<a href={{hrefs[i][j][k]}} class="a1">{{all_text[i][j][k]}}</a>
						{% endfor %}<br>
					{% endfor %}
				{% endfor %}
				<a href="{{url_for('home')}}" class="a1">Home</a>
				<a href="{{url_for('logout')}}" class="a1">Logout</a>
			</div>
		</div>
	</section>
</body>
</html>