<html>
	<head>
		<title>Form submitted</title>
		<link rel="stylesheet" type="text/css" href="../static/styles/verifystyle.css">	
		<link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
	</head>
	<body>
		<section class="intro">
			<div class="inner">
				<div class="content">
					<span>Thanks for submitting form!Please check your email,a verification link will be sent to you!</span><br>
					<a href="{{url_for('login')}}" id="a1">Login Here!</a>
				</div>
			</div>
		</section>
	</body>
</html>